.submit-button {
    background-color: #000 !important;
    border-color: #63C5BB !important;
    color: #FFE07B !important;
    border-radius: 5px;
    border: 0 !important;
    padding: 7px;
}

.regele {
    display: block;
    max-width: 230px;
}